<div class="container">
	<h1>Your Trips</h1>
	<h2>Here should be your trip search page. </h2>
	<br>
	<!-- Displays if there's a current user logged in: -->
<!-- 	<%# if current_user != nil %>
		<p>Hi, <%#= current_user.email %>, here are all the trips you've made:</p>
		<%# @allTrips.each do |t| %>
			Trip #<%#= t.id %><br>
			Title:<%#= t.title %><br>
			Organizer:<%#= t.organizer_id %><br><br>
		<%# end %>
		<%#= link_to 'Make a new trip!', new_trip_path %> <br>
		<%# else %>

		<p> You must be logged in to create or join a trip! <%#= link_to "Sign up", new_user_registration_path, :class => "link_inline" %> or <%#= link_to "Login", new_user_session_path, :class => "link_inline" %> today! </p>
	<%# end %> -->
</div>

<%= form_for trips_path, :method => :get do %>
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag "Search Near", :name => nil %>
<% end %>