<div class="references">
	<% if @references != nil %>
		<% @references.each do |r| %>
			<div class="referencesField">
				<b><%= link_to r.user.first_name, user_path(r.user.id) %></b><br>
				<%= r.description %><br>
			</div>
		<% end %> 
	<% else %>
		<p>There are no references yet, add one!</p>
	<% end %>
</div>