/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700|Montserrat:700,400);

// Attribution:
// Navbar inspiration: http://codepen.io/adriantimpau/pen/srvaj

$small: 768px;

$black-ish: #2b2c2d;
$gray: #444444;
$gray-light: #f2f2f2;
$blue-ish: #0d75ac;
$white-ish: #edefed;
$teal: #007a88;
$teal-light: #009bad;
$red: #ff4f5b;
$red-light: #ff7880;
$peach: #fda992;
$magenta: #790051;
$transparent: rgba(0,0,0,0);

*, *:after, *:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: $transparent;
	font-family: 'Source Sans Pro', Helvetica, sans-serif;
	padding: 0px;
	a {
		text-decoration: none;
	}
	h3 {
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
	}
}
.container {
	position: relative;
	margin: 0px auto;
	width: 90%;
	max-width: 940px;
	ul {
		list-style-type: none;
		padding-top: 14px;
		margin:0;
	}
	.leftCol {
		width: 20%;
		float: left;
		padding-right: 3%;
		.spacedOut {
			padding-bottom: 8px;
			margin-top: 12px;
			a {
				color: $blue-ish;
			}
		}
	}
	.rightCol {
		width: 80%;
		float: left;
		.row {
			height: 106px;
			.twoThirds {
				width: 66%;
				float: left;
			}
			.oneThird {
				width: 33%;
				float: left;
				.priceBox {
					// border: 1px solid $black-ish;
					// border-radius: 8px;
					height: 86px;
					width: 90px;
					float: right;
					margin: 5px;
					.priceTop {
						// background-color: $white-ish;
						height: 55%;
						border-bottom: 1px dotted $black-ish;
						.dollar {
							font-size: 20px;

						}
						h1 {
							font-size: 40px;
							text-align: center;
							margin-top: 16px;
						}
					}
					.priceBottom {
						p {
						text-align: center;
						font-size: 14px;
						padding-top: 4px;
						}
					}
				}
			}
		}
	}
}
#nav-collapse {
	display: none;
}
#navbar {
	// position: fixed;
	margin-bottom: 13px;
	margin-top: 0px;
	width: 100%;
	padding-bottom: 38px;
	z-index: 1;
}
.logo {
	font-size: 1.5em;
	font-weight: 900;
	background: #123456;
	padding: 5px;
	color: $white-ish;
	float: left;
}
nav {
	display: block;
	float: right;
	ul {
		list-style: none;
		margin-top: 15px;
		cursor: pointer;
		li {
			display: inline;
			padding: 5px;
			border-radius: 5px;
			background: #eee;
			color: gray;
			&:hover {
				background: silver;
				color: #fff;
			}
		}
	}
}
@media only screen and (max-width: $small) {
	.container {
		width: 100%;
		padding-left: 3%;
		padding-right: 3%;
		.leftCol {
			width: 100%;
		}
		.rightCol {
			width: 100%;
		}
	}
	.navbar {
		padding: 10px 0 0 0;
	}
	.logo {
		margin: 0 0 10px 10px;
	}
	#nav-collapse {
		display: block;
		margin: 10px 10px 0 0;
		float: right;
		cursor: pointer;
		padding: 5px;
		background: gray;
		color: $white-ish;
		border-radius: 3px;
	}
	nav {
		float: none;
		clear: both;
		ul {
			margin-top: 0px;
			li {
				display: block;
				border-radius: 0;
				background: #eee;
				color: $black-ish;
				text-align: center;
				border-bottom: 1px solid #fff
			}
		}
	}
	.leftCol {
		float: left;
	}
	#nav-collapse:hover {
		background: silver;
	}
	.nope {
		display: none;
	}
}
.link {
	text-decoration: none;
	color: $black-ish;
}
.link_inline {
	text-decoration: none;
	color: $teal;
	&:hover {
		color: $teal-light;
	}
}
.linkTitle {
	text-decoration: none;
	color: $white-ish;
	&:hover {
		color: $teal-light;
	}
}
#map-canvas {
	width: 100%;
	height: 275px;
	border-radius: 5px;
}
.result {
	padding: 5px;
	margin: 5px;
	border-bottom: 1px dotted $black-ish;
	height: 100px;
	border-radius: 2px;
	&:hover {
		background-color: $gray-light;
	}
	.left-col {
		width: 12%;
		height: 100%;
		float: left;
		.price {
			// border: 1px solid $black-ish;
			border-radius: 8px;
			height: 100%;
			.priceTop {
				// background-color: $white-ish;
				height: 57%;
				// border-bottom: 1px solid $black-ish;
				.dollar {
					font-size: 20px;

				}
				h1 {
					font-size: 40px;
					text-align: center;
					margin-top: 10px;
				}
			}
			.priceBottom {
				p {
					text-align: center;
					font-size: 14px;
				}
			}
		}
	}
	.mid-col {
		width: 74%;
		height: 100%;
		float: left;
		margin-left: 8px;
		padding-left: 8px;
		padding-top: 4px;
		border-left: 1px dotted $black-ish;
		.tripTitle {
			font-size: 25px;			
			a {
				font-family: 'Montserrat', sans-serif;
				font-weight: 700;
				text-decoration: none;
				color: $teal;
				&:hover {
					color: $teal-light;
				}
			}
		}
	}
	.right-col {
		width: 12%;
		height: 100%;
		float: left;
		border-left: 1px dotted $black-ish;
		&:hover {
			color: $magenta;
		}
		p, a {
			text-align: center;
			padding-top: 20px;
			font-size: 20px;
			color: $blue-ish;
			&:hover {
				color: #123456;
			}
		}
	}
}
.redButton {
	background-color: $red;
	padding: 10px;
	border-radius: 3px;
	margin-bottom: 8px;
	a {
		font-size: 15px;
		color: $white-ish;
	}
	&:hover {
		background-color: $red-light;
	}
}
.blueButton {
	background-color: $teal;
	padding: 10px;
	border-radius: 3px;
	margin-bottom: 8px;
	color: $white-ish;
	font-size: 15px;
	margin-bottom: 15px;
	&:hover {
		background-color: $teal-light;
	}
}
.header {
	margin-top: 25px;
	margin-bottom: 25px;
}
.lighten {
	color: $gray;
}
.searching {
	width: 50%;
	form {
		#search {
			background-color: $white-ish;
			border: 1px solid transparent;
			font-size: 14px;
			color: black;
			width: 78%;
		}
		input {
			background: $teal;
			border: 1px solid $teal-light;
			padding: 10px;
			color: white;
			font-size: 14px;
			width: 20%;
			-webkit-transition: 0.5s;
			&:hover {
				background: $teal-light;
				border: 1px solid $teal;
				-webkit-transition: 0.5s;
			}
			&:focus {
				outline: 0;
			}
		}
	}
}
// Sign Up and Log On Forms
.formContainer {
	width: 80%;
	background-color: $teal-light;
	margin: 0px auto;
	.formTop {
		height: 50px;
		background-color: $teal;
		.formActive {
			background-color: $teal-light;
		}
		.formInactive {
			background-color: $teal;
		}
		.formTopRight {
			height: 100%;
			width: 48%;
			float: right;
			// background-color: $teal-light;
			text-align: center;
			padding-top: 7px;
			a {
				color: $white-ish;
			}
		}
		.formTopLeft {
			height: 100%;
			width: 48%;
			float: left;
			// background-color: $teal;
			text-align: center;
			padding-top: 7px;
			a {
				color: $white-ish;
			}
		}
	}
	.formBody {
		background-color: $gray-light;
		padding: 10px;
		margin: 5px auto;
	}
	.field {
		color: $black-ish;
		font-size: 18px;
		input {
			padding: 5px;
		}
	}
	.actions {
		
	}
}
.references {
	// background-color: $white-ish;
	// border-radius: 3px;
	.referencesField {
		margin-left: 15px;
		padding-left: 5px;
		margin-bottom: 10px;
		margin-top: 10px;
		border-left: 3px solid $red-light;
		border-radius: 1px;
		.deleteReferenceField {
			height: 100%;
			widht: 30px;
			color: $red;
		}
	}
}
.validationNum {
	color: blue;
	// why doesn't this work???
}
